RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

<Files "config.json">
    Order Allow,Deny
    Deny from all
    Allow from localhost
        Allow from 127.0.0.1
        Satisfy all
</Files>
